.main {
	background-color: #b2d0cc;
	background-repeat: repeat;
	color : black;
	min-height: 650px;

}

.configButton{
	float:right;
    margin-top: 32px;
}

.headPane{
	background-color: #5a7e90;
}


.loginForm{
	float : right;
	margin-top: 30px;
}

.statusTable{
	float : left;
	width : 40%;
	margin-top: 20px;
	margin-left: 80px;
}

.uploadPane{
	margin-right: 70px;
	margin-top: 40px;
	float : right;
}

.userManagementPane{
	margin-left: 40px;
	width: 80%;
}

.frame{
	float : right;
}


table, th, td{
	color:black;
	border-collapse: collapse;
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
	padding : 15px;
}