.main {

	background-color: #b2d0cc;
	background-repeat: repeat;
	color : black;
	min-height: 650px;

}

.configButton{
	float:right;
    margin-top: 32px;
    margin-right: 20px;
}

.headPane{
	background-color: #5a7e90;
}


.loginForm{
	float : right;
	margin-top: 30px;
	margin-right: 20px;
}

.statusTable{
	float : left;
	width : 50%;
	margin-top: 30px;
	margin-left: 80px;
}


.uploadPane{
	margin-right: 80px;
	margin-top: 55px;
	float : right;
}

.userManagementPane{
	margin-left: 40px;
	width: 80%;
}

.frame{
	float : right;
}


table, th, td{
	color:black;
	border-collapse: collapse;
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
	padding : 15px;
}

.requestPane{
	float:center;
	margin-top: 70px;
	margin-left: 20px;
	
}

.ui.section.divider{
padding-top: -70px;
}

